:root {
  --main_color: #bfa181;
  /* --secondary_color: rgb(55, 194, 180); */
  /* --secondary_color: #178582; */
  --secondary_color: #763a3a;
  /* --secondary_color: #819fbf; */
  /* 178582 */

  --background_color: #ffffff;
  /* --background_color: #1d2b34; */
  /* --background_color: #181f28; */

  --text_color: #333333;
  /** For shadows */

  --box_shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);

  --box_shadow_dark: 0.1px 0.2px 2.3px rgba(0, 0, 0, 0.22),
    1px 2.1px 4.9px rgba(0, 0, 0, 0.295), 2.8px 5.7px 8.9px rgba(0, 0, 0, 0.399),
    4px 8px 25px rgba(0, 0, 0, 0.75);
}

body {
  font-weight: light;

  color: var(--main_color);
  background-color: var(--background_color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100svh;
  margin: 0;
  padding: 0%;

  overflow-x: hidden;
}

/*! HEADER STUFF */

.header {
  margin: 0;
  padding: 0 1em 0 1em;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;

  width: 100vw;
  max-width: 100vw;
  /* border: 2px solid red; */
}

.header_links {
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3em;
  list-style: none;
}
.header_links a {
  color: var(--secondary_color);
}


.hmbr_menu {
  display: none;
}

.theme_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.theme_switcher {
  /* background-color: var(--dark_accent); */
  color: var(--main_color);
  /* border-radius: 0.2em; */
  border: 1px solid var(--main_color);
  background-color: transparent;

  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); */
}

.theme_switcher:hover {
  cursor: pointer;
  color: var(--secondary_color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--main_color);
}

.main_text {
  display: flex;
  margin: 0;
  padding: 0 3em 0 3em;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100vw;

  /* border: 2px solid black; */
}

.info_box {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_box h1 {
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.info {
  margin: 0%;
  padding: 0%;
}

.profile_img {
  /* border: 2px solid var(--main_color); */
  width: 40vw;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  /* box-shadow: 0px 0em 0.6em rgba(0, 0, 0, 0.5); */
  box-shadow: var(--box_shadow);
  /* box-shadow: 0px 0em 3em hsla(var(--main_color), 1); */

  /* background-color: #1f2834; */
}

.socials {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.socials a {
  font-size: 1.8em;
  color: var(--main_color);
}

.socials a:hover {
  color: var(--secondary_color);
}






/* For the project page */

.project_container{
  margin: 0%;
  padding: 0%;
  padding-bottom: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 2px solid red; */
}

.project_container h1{
  margin: 0;
  padding: 0;
  font-size: 32px;
  margin-bottom: 50px;
}

/* TODO - make this display: grid */
#project_box{
  margin: 0%;
  padding: 0%;
  width: 95vw;
  box-sizing: border-box;
  /* border: solid red; */
  text-decoration: none;

  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.prj{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0%;
  padding: 10px 0px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: 8px;
  box-shadow: var(--box_shadow);

}

.prj h2{
  margin: 0%;
  padding: 0%;
  font-size: 24px;
  font-weight: 500;
  color: var(--secondary_color);
}

.prj img{
  border-radius: 4px;
  width: 90%;
  max-height: 40% ;

  /* border: 1px solid black; */
}

.prj p{
  margin: 0%;
  padding: 0px;
  width: 90%;
  height: 30%;
  color: var(--text_color);
  font-size: 14px;
}

.prj_gtb_btn{
  background-color: transparent;
  color: var(--secondary_color);
  border: 2px solid var(--secondary_color);
  border-radius: 4px;
  width: 50%;
  font-size: 16px;
  transition: all 0.3s ease;
}

.prj_gtb_btn:hover{
  cursor: pointer;
  background-color: var(--secondary_color);
  color: #ffffff;
}

.skills{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  /* border: 2px solid red; */
  width: 90%;
  font-size: 14px;
}

.skills span{
  box-sizing: border-box;
  margin: 0%;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--secondary_color);
  color: var(--secondary_color);

}





















/* for responsive code */




@media only screen and (max-width: 768px) {
  .header_links{

    position: fixed;
    right: -120%;
    top: 5em;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--background_color);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s ease-in;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    box-shadow: var(--box_shadow)
  }

  .header_links.active{
    right: 0;
  }

  .header_links li{
    margin: 2.5rem 0;
  }

  .hmbr_menu{
    display: block;
    cursor: pointer;
  }
}
